<section class="vh-700 gradient-custom">
<div class="jumbotron">
    <h1 class="display-4">Store Name</h1>
    <p class="lead">Browse our extensive selection of products includeing clothing, jewelery, electronics, and more; at prices you can afford.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class="row" class="card-group">
    <div class="col-sm-3">
            <div class="card" style="width: 18rem; height: 480px;">
                <img src={{images[0]}} class="card-img-top" alt="..." >
                    <div class="card-body">
                        <h5 class="card-title">{{categories[2]}}</h5>
                        <div class="dropdown">
                            <button class="btn btn-primary" type="button" aria-expanded="false">
                                <a routerLink="/category" style="color: white; text-decoration: none;">View</a>
                            </button>
                        </div>
                    </div>
            </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem; height: 480px;">
            <img src={{images[1]}} class="card-img-top" alt="..." >
                <div class="card-body">
                    <h5 class="card-title">{{categories[3]}}</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary" type="button" aria-expanded="false">
                            <a routerLink="/category" style="color: white; text-decoration: none;">View</a>
                        </button>
                    </div>
                </div>
        </div>
</div>
<div class="col-sm-3">
    <div class="card" style="width: 18rem; height: 480px;">
        <img src={{images[2]}} class="card-img-top" alt="..." >
            <div class="card-body">
                <h5 class="card-title">{{categories[0]}}</h5>
                <div class="dropdown">
                    <button class="btn btn-primary" type="button" aria-expanded="false">
                        <a routerLink="/category" style="color: white; text-decoration: none;">View</a>
                        </button>
                </div>
            </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card" style="width: 18rem; height: 480px;">
        <img src={{images[3]}} class="card-img-top" alt="..." >
            <div class="card-body">
                <h5 class="card-title">{{categories[1]}}</h5>
                <div class="dropdown">
                    <button class="btn btn-primary" type="button" aria-expanded="false" (click)="catPass('jewelery')">
                    <a routerLink="/category" style="color: white; text-decoration: none;">View</a>
                    </button>
                </div>
            </div>
    </div>
</div>
</div>
</section>