  <div class="row card-group text-center">
      <div class="col-sm-3" *ngFor="let category of categories; let i = index">
          <div class="card border-dark rounded-lg border-2" style="width: 18rem; height: 400px;">
            <br>
            <img class="card-img-top" src="{{images[i]}}" alt="{{category}}" style="width: 200px; height: 250px; margin: auto;"/>
            <div class="card-body border-2 border-top">
                <h5 class="card-title text-dark">{{category | titlecase}}</h5>
                <button class="btn btn-primary" type="button" aria-expanded="false" (click)="catPass(category)">
                    View Category
                </button>
            </div>
          </div>
      </div>
  </div>

