<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{productInfo.image}}" alt="" style="margin-top: 50px; height: 500px;">
        </div>
        <div class="col-lg-8">
            <div>
                <br>
                <br>
                <br>
                <h2>{{productInfo.title}}</h2>
                <h3>{{productInfo.price | currency}}</h3>
                <br>
                <p style="width: 1000px;">{{productInfo.description}}</p>
                <br>
                <br>
                <button class=" btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3" *ngFor="let related of relatedProducts">
                    <img src="{{related.image}}" alt="{{related.title}}" style="height:200px;">
                </div>
            </div>
        </div>
    </div>
</div>