<section class="vh-700 gradient-custom">
    <button (click)="servicetest(true)">click for g check true</button>
        <button (click)="servicetest(false)">click for g check false</button>
        
    <div class="d-flex flex-inline bd-highlight mb-3">
        <div class="p-2 bd-highlight"><a class="nav-link" routerLink="category" (click)="categoryBind('men\'s clothing')" style="color: white;">Mens Clothing</a></div>
        <div class="p-2 bd-highlight"><a class="nav-link" routerLink="category" (click)="categoryBind('women\'s clothing')" style="color: white;">Womens Clothing</a></div>
        <div class="p-2 bd-highlight"><a class="nav-link" routerLink="category"(click)="categoryBind('electronics')" style="color: white;">Electronics</a></div>
        <div class="p-2 bd-highlight"><a class="nav-link" routerLink="category" (click)="categoryBind('jewelery')" style="color: white;">Jewelery</a></div>
    </div>
    <div class="container">
        <div class="row" class="card-group">
                <div class="col-sm-3" *ngFor="let product of products">
                        <div class="card text-center" style="width: auto; height: 450px; margin: 5px;">
                            <img src={{product.image}} class="card-img-top" alt="{{product.title}}" style="width: 200px; height: 250px; margin: auto;" >
                                <div class="card-body border" style="position: relative;">
                                    <h5 class="card-title">{{product.title}} <p *ngIf="product.title.length < 50"></p></h5>
                                    <p class="card-text">{{product.price | currency}}</p>
                                    <div class="dropdown">
                                        <button class="btn btn-primary" type="button" aria-expanded="false">
                                        View
                                        </button>
                                    </div>
                                </div>
                        </div>
                </div>
        </div>
    </div>
</section>